

html {
  font-family: 'Catamaran', sans-serif;
  min-height: 100%;
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  background: #222222;
  background-image: url('../img/xprt-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  margin-left: 60px;
}

.formcontainer input:-webkit-autofill { -webkit-text-fill-color: green; -webkit-box-shadow: 0 0 0 1000px white inset; }
